html, body {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.welcome-hero {
  background: url("ideaboxLogo.jpg");
  background-repeat: no-repeat;
  background-size: 80%;
  height: 100%;
  width: 900px;
  background-position: center;
  margin: 0;
  padding: 0;
  padding-top: 68px;
}

.welcome-hero a {
  padding: 1000px;
  opacity: 0;
}



.userpath h3 a {
  text-decoration: none;
  color: gray;
}

.nav {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  background-color: #606060;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  margin: 20px; 
  text-shadow: 2px 2px grey;
}

.registerbody {
  padding-top: 40px;
}

.register {
  background: linear-gradient(45deg, black -95%, lightblue);
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.login {
  display: flex;
  justify-content: center;
  color: #19a0b3;
  flex-direction: column-reverse;
  align-items: center;
}

.register form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 0;
}

.button {
  padding: 8px 20px;
  text-align: center;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.button input a {
  color: #19a0b3; 
}

.button:hover {opacity: 1}

























